@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
	
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


body {
	background-color: #243447;
	color: #fff;
	font-size: 135%;
	line-height: 1.25;
	font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

a {
	color: #99cc33;
	text-decoration: none;
	outline: none;
}
p {
		text-align: center;
}




h1 {
		color: #fff;
		text-align: center;
		background: #666666;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
		
}
h2 {
		text-align: center;
}
h3 {
		text-align: center;
}
a {
	color: red;
}

body {
		margin: 10;
		padding: 0;

}
/* Style font for icons. */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: left;
  text-decoration: none;

}
.container2{
	text-align: center;
	margin-top: 90px;
}
/* Hover effect. */
.fa:hover {
  opacity: 0.7;
}
/* LinkedIn color. */
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* IG color. */
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-github {
	border: 0.2px solid grey;
	background: white;
	text-align: center;
	margin-top: 100px;
}


